/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* Font setup */
@font-face {
  font-family: 'Lora';
  src: url('https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787weuxJMkq1Y.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Slab';
  src: url('https://fonts.gstatic.com/s/josefinslab/v24/lW-swjwOK3Ps5GSJlNNkMalNpiZe_ldbOR4pM6Bw8LQ.woff2') format('woff2');
}
body {
  font-family: 'Lora', serif;
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0.3px;
  word-spacing: 0.5px;
}

h1 {
  font-family: 'Josefin Slab', serif;
  letter-spacing: 1px;
  text-align: center;
  font-size: 3.2rem;
}

h2 {
  font-family: 'Josefin Slab', serif;
  letter-spacing: 1px;
  font-size: 2rem;
}
/* Indent first paragraph in each section */
section h2 + p {
  text-indent: 20px;
}